$body-bg: #e5e5e5;
$primary: rgba(135, 190, 202, 1);
$secondary: #8392ab;
$success: rgba(24, 213, 255, 1);
$info: rgba(0, 95, 101, 1);
$warning: #fbcf33;
$danger: #ea0606;
$light: #e9ecef;
$dark: rgba(14, 14, 14, 1);
$grey: rgba(105, 105, 105, 1);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(0, 95, 101, 1), rgba(14, 14, 14, 1));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
